# Xcode
build/
DerivedData/
*.xcuserdatad
*.xcworkspace
!default.xcworkspace
xcuserdata/

# Package & Archive
*.ipa
Payload/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archives & Temporary Workspace Folders
*.zip
Duy-Manh-Store-iOS/
patch-cloud-web/
